.win-conditions {
  background-color: transparent;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.win-conditions h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.table-bordered {
  border: 2px solid orange;
  border-collapse: collapse;
}

.table-bordered td {
  border: 1px solid orange;
  vertical-align: middle;
  background-color: transparent;
  color: white;
  padding: 0.5rem;
}

.symbol-image {
  max-width: 50px;
  padding: 0;
}
