<button
  (click)="onclick.emit(); open(content)"
  class="border-0 p-0 bg-transparent"
  (mousedown)="changeImage(true)"
  (mouseup)="changeImage(false)"
  (touchstart)="changeImage(true)"
  (touchend)="changeImage(false)"
>
  <img class="w-100" [src]="buttonImage" alt="Button Image" />
  <img
    class="faq-lable"
    src="/assets/images/exclamation-icon.png"
    alt="exclamation"
  />
</button>

<ng-template #content let-modal>
  <div class="modal-body">
    <button
      type="button"
      class="exit-button rounded-circle p-0 border-0 float-end"
      (click)="modal.dismiss('Cross click')"
    >
      <!--      <img-->
      <!--        src="/assets/images/exit-button.png"-->
      <!--        alt="exit img"-->
      <!--        style="width: 30px; height: 30px"-->
      <!--      />-->
    </button>

    <div class="d-flex flex-column align-items-center text-white">
      <h3>Win Conditions</h3>
      <app-win-conditions></app-win-conditions>
    </div>
  </div>
</ng-template>
