.wallets {
  $containerRatio: 110/107;
  $container-width: 240px;
  $container-height: $containerRatio * $container-width;
  $wallet-height: 23/55 * $container-height;
  $close-button-size: 0.25 * $container-width;

  padding-right: 30px;
  .active {
    opacity: 1 !important;
  }
  .wallet-container {
    position: relative;
    width: $container-width;
    height: $container-height;
    background-image: url("/assets/wallet/wallet-frame.png");
    background-size: cover;

    .promotion-wallet {
      height: $wallet-height;
      opacity: 0.7;
      background-image: url("/assets/wallet/promotion-wallet-frame.png");
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }

    img {
      height: 100%;
      box-sizing: border-box;
      max-width: 100%;
      max-height: 100%;
      width: 100%;
    }
  }

  .primary-wallet {
    height: $wallet-height;
    opacity: 0.7;
    background-image: url("/assets/wallet/primary-wallet-frame.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .close-button {
    position: absolute;
    right: 0;
    top: 0;
    width: $close-button-size;
    height: $close-button-size;
    transform: translate(18px, -21px);
  }
}
