@import "./shared/scss/variable.scss";
@import "./shared/scss/animations.scss";
@import "./shared/scss/mixins.scss";

.slot-main-container {
  background-image: url("/assets/images/slot_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100dvh;
  min-height: 100dvh;
  max-height: 100dvh;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  #toggle-wallet-button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    margin: 10px;
  }
}

.win-condition-container {
  display: grid;
  height: 100%;
  width: 100%;
  border: 2px solid $orange;
  margin-bottom: 15px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);

  div {
    background-color: $white;
    transition: background-color 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 100%;
    border-left: 1px solid $red;
    border-right: 1px solid $red;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    img {
      width: inherit;
      object-fit: contain;
      height: inherit;
    }
  }
}

#wallet-selection {
  position: absolute;
  bottom: 25%;
  right: 0;
}

#chat-box {
  position: absolute;
  left: 0;
  bottom: 40%;
  height: 200px;
}
