button {
  max-width: 100%;
  max-height: 100%;
  img {
    max-height: 100%;
  }
}

.count-down-number {
  position: absolute;
  left: 50%;
  bottom: calc(50% - 6px);
  transform: translate(-50%, -50%);
  height: 19px;
}
