<div class="slot-machine">
  <div class="slot-wheel-wrapper">
    <div class="wheel-container">
      <div #wheelCell1 class="wheel">
        <img
          [attr.data-position]="4"
          src="./assets/images/Cherry.png"
          alt="3 BAR image"
        />
        <img
          [attr.data-position]="3"
          src="./assets/images/3xBAR.png"
          alt="BAR image"
        />
        <img
          [attr.data-position]="2"
          src="./assets/images/7.png"
          alt="7 image"
        />
        <img
          [attr.data-position]="1"
          src="./assets/images/2xBAR.png"
          alt="2 BAR image"
        />
        <img
          [attr.data-position]="5"
          src="./assets/images/BAR.png"
          alt="Cherry image"
        />
      </div>
    </div>
    <div class="wheel-container">
      <div #wheelCell2 class="wheel">
        <img
          [attr.data-position]="4"
          src="./assets/images/Cherry.png"
          alt="3 BAR image"
        />
        <img
          [attr.data-position]="3"
          src="./assets/images/3xBAR.png"
          alt="BAR image"
        />
        <img
          [attr.data-position]="2"
          src="./assets/images/7.png"
          alt="7 image"
        />
        <img
          [attr.data-position]="1"
          src="./assets/images/2xBAR.png"
          alt="2 BAR image"
        />
        <img
          [attr.data-position]="5"
          src="./assets/images/BAR.png"
          alt="Cherry image"
        />
      </div>
    </div>
    <div class="wheel-container">
      <div #wheelCell3 class="wheel">
        <img
          [attr.data-position]="4"
          src="./assets/images/Cherry.png"
          alt="3 BAR image"
        />
        <img
          [attr.data-position]="3"
          src="./assets/images/3xBAR.png"
          alt="BAR image"
        />
        <img
          [attr.data-position]="2"
          src="./assets/images/7.png"
          alt="7 image"
        />
        <img
          [attr.data-position]="1"
          src="./assets/images/2xBAR.png"
          alt="2 BAR image"
        />
        <img
          [attr.data-position]="5"
          src="./assets/images/BAR.png"
          alt="Cherry image"
        />
      </div>
    </div>

    <div
      [ngClass]="{
        active: line1Score !== 0 && line1Score === getMaxScore(),
      }"
      class="wheel-line top"
    ></div>
    <div
      [ngClass]="{
        active: line2Score !== 0 && line2Score === getMaxScore(),
      }"
      class="wheel-line center"
    ></div>
    <div
      [ngClass]="{
        active: line3Score !== 0 && line3Score === getMaxScore(),
      }"
      class="wheel-line bottom"
    ></div>
  </div>

  <app-faq-button id="faq-button"></app-faq-button>
  <app-bet-button id="bet-button"></app-bet-button>

  <app-spin-button
    (onclick)="!isSpinning && knobPulled()"
    id="spin-button"
  ></app-spin-button>

  <app-clear-button id="clear-button"></app-clear-button>
  <app-max-bet-button id="max-bet-button"></app-max-bet-button>

  <app-chip id="chip-10" [value]="10"></app-chip>
  <app-chip id="chip-20" [value]="20"></app-chip>
  <app-chip id="chip-50" [value]="50"></app-chip>
  <app-chip id="chip-100" [value]="100"></app-chip>
  <app-chip id="chip-250" [value]="250"></app-chip>

  <app-game-history id="game-history"></app-game-history>

  <app-money-display id="total-bet-number"></app-money-display>
  <app-money-display id="total-win-number"></app-money-display>
  <app-money-display id="balance-number"></app-money-display>
  <app-money-display id="current-win-number"></app-money-display>
</div>
