<div class="slot-machine">
  <!--  <img-->
  <!--    class="light"-->
  <!--    id="left-light"-->
  <!--    src="/assets/images/left-light.png"-->
  <!--    alt="left light"-->
  <!--  />-->
  <app-light id="left-light"></app-light>
  <img
    class="light"
    id="right-light"
    src="/assets/images/right-light.png"
    alt="right light"
  />

  <app-your-luck-here-text id="your-luck-here"></app-your-luck-here-text>

  <div #wheelWrapper class="slot-wheel-wrapper">
    <app-reels
      #appReels
      [width]="wheelWrapper.clientWidth - 16"
      [height]="wheelWrapper.clientHeight - 16"
      class="reels-comp"
    ></app-reels>
    <!--    <div class="wheel-container">-->
    <!--      <div #wheelCell1 class="wheel">-->
    <!--        &lt;!&ndash;        <img&ndash;&gt;-->
    <!--        &lt;!&ndash;          class="wheel-light"&ndash;&gt;-->
    <!--        &lt;!&ndash;          ngSrc="/assets/images/wheel-light.png"&ndash;&gt;-->
    <!--        &lt;!&ndash;          alt="wheel light"&ndash;&gt;-->
    <!--        &lt;!&ndash;          height="63"&ndash;&gt;-->
    <!--        &lt;!&ndash;          width="123"&ndash;&gt;-->
    <!--        &lt;!&ndash;        />&ndash;&gt;-->
    <!--      </div>-->
    <!--    </div>-->

    <!--    <div class="wheel-container">-->
    <!--      <div #wheelCell2 class="wheel">-->
    <!--        &lt;!&ndash;        <img&ndash;&gt;-->
    <!--        &lt;!&ndash;          class="wheel-light"&ndash;&gt;-->
    <!--        &lt;!&ndash;          ngSrc="/assets/images/wheel-light.png"&ndash;&gt;-->
    <!--        &lt;!&ndash;          alt="wheel light"&ndash;&gt;-->
    <!--        &lt;!&ndash;          height="63"&ndash;&gt;-->
    <!--        &lt;!&ndash;          width="123"&ndash;&gt;-->
    <!--        &lt;!&ndash;        />&ndash;&gt;-->
    <!--      </div>-->
    <!--    </div>-->

    <!--    <div class="wheel-container">-->
    <!--      <div #wheelCell3 class="wheel">-->
    <!--        &lt;!&ndash;        <img&ndash;&gt;-->
    <!--        &lt;!&ndash;          class="wheel-light"&ndash;&gt;-->
    <!--        &lt;!&ndash;          ngSrc="/assets/images/wheel-light.png"&ndash;&gt;-->
    <!--        &lt;!&ndash;          alt="wheel light"&ndash;&gt;-->
    <!--        &lt;!&ndash;          height="63"&ndash;&gt;-->
    <!--        &lt;!&ndash;          width="123"&ndash;&gt;-->
    <!--        &lt;!&ndash;        />&ndash;&gt;-->
    <!--      </div>-->
    <!--    </div>-->

    <!--    <div-->
    <!--      [ngClass]="{-->
    <!--        active: line1Score !== 0 && line1Score === getMaxScore(),-->
    <!--      }"-->
    <!--      class="wheel-line top"-->
    <!--    ></div>-->
    <!--    <div-->
    <!--      [ngClass]="{-->
    <!--        active: line2Score !== 0 && line2Score === getMaxScore(),-->
    <!--      }"-->
    <!--      class="wheel-line center"-->
    <!--    ></div>-->
    <!--    <div-->
    <!--      [ngClass]="{-->
    <!--        active: line3Score !== 0 && line3Score === getMaxScore(),-->
    <!--      }"-->
    <!--      class="wheel-line bottom"-->
    <!--    ></div>-->
  </div>

  <app-faq-button id="faq-button"></app-faq-button>
  <app-bet-button (onclick)="onBet()" id="bet-button">bet</app-bet-button>

  <app-spin-button
    (onclick)="!reels.running && knobPulled()"
    id="spin-button"
  ></app-spin-button>

  <app-clear-button (onclick)="clearBet()" id="clear-button"></app-clear-button>
  <app-max-bet-button
    (onclick)="maxBet()"
    id="max-bet-button"
  ></app-max-bet-button>

  <app-chip
    [selectedValue]="selectedChipValue"
    (onclick)="selectChip(10)"
    id="chip-10"
    [value]="10"
  ></app-chip>
  <app-chip
    [selectedValue]="selectedChipValue"
    (onclick)="selectChip(20)"
    id="chip-20"
    [value]="20"
  ></app-chip>
  <app-chip
    [selectedValue]="selectedChipValue"
    (onclick)="selectChip(50)"
    id="chip-50"
    [value]="50"
  ></app-chip>
  <app-chip
    [selectedValue]="selectedChipValue"
    (onclick)="selectChip(100)"
    id="chip-100"
    [value]="100"
  ></app-chip>
  <app-chip
    [selectedValue]="selectedChipValue"
    (onclick)="selectChip(250)"
    id="chip-250"
    [value]="250"
  ></app-chip>
  <app-chip
    [selectedValue]="selectedChipValue"
    (onclick)="selectChip(500)"
    id="chip-500"
    [value]="500"
  ></app-chip>

  <app-game-history [history]="history" id="game-history"></app-game-history>

  <app-money-display
    style="width: 190px"
    [imgSrc]="'/assets/images/total-bet-label.png'"
    [value]="totalBet"
    id="total-bet-number"
  ></app-money-display>

  <app-money-display
    style="width: 138px"
    [imgSrc]="'/assets/images/credit-label.png'"
    [value]="totalWin"
    id="total-win-number"
  ></app-money-display>

  <app-money-display
    [value]="getCurrentUserBalance()"
    id="balance-number"
  ></app-money-display>

  <app-money-display
    style="width: 138px"
    [imgSrc]="'/assets/images/win-label.png'"
    [value]="currentWin"
    id="current-win-number"
  ></app-money-display>
</div>
