<div class="slot-machine">
  <img
    class="light"
    id="left-light"
    src="/assets/images/left-light.png"
    alt="left light"
  />
  <img
    class="light"
    id="right-light"
    src="/assets/images/right-light.png"
    alt="right light"
  />

  <app-your-luck-here-text id="your-luck-here"></app-your-luck-here-text>

  <div class="slot-wheel-wrapper">
    <div class="wheel-container">
      <div #wheelCell1 class="wheel">
        <img
          [attr.data-position]="4"
          src="./assets/images/cherry.png"
          alt="cherry image"
        />
        <img
          [attr.data-position]="3"
          src="../../../assets/images/strawberry.png"
          alt="strawberry immage"
        />
        <img
          [attr.data-position]="2"
          src="../../../assets/images/pineapple.png"
          alt="pineapple image"
        />
        <img
          [attr.data-position]="1"
          src="./assets/images/bonus.png"
          alt="bonus image"
        />
        <img
          [attr.data-position]="5"
          src="./assets/images/k.png"
          alt="K image"
        />

        <img
          class="wheel-light"
          src="/assets/images/wheel-light.png"
          alt="wheel light"
        />
      </div>
    </div>
    <div class="wheel-container">
      <div #wheelCell2 class="wheel">
        <img
          [attr.data-position]="4"
          src="./assets/images/cherry.png"
          alt="cherry"
        />
        <img
          [attr.data-position]="3"
          src="../../../assets/images/pineapple.png"
          alt="pineapple image"
        />
        <img
          [attr.data-position]="2"
          src="./assets/images/apple.png"
          alt="7 image"
        />
        <img
          [attr.data-position]="1"
          src="./assets/images/bell.png"
          alt="Bell image"
        />
        <img
          [attr.data-position]="5"
          src="./assets/images/cherry.png"
          alt="Cherry image"
        />

        <img
          class="wheel-light"
          src="/assets/images/wheel-light.png"
          alt="wheel light"
        />
      </div>
    </div>
    <div class="wheel-container">
      <div #wheelCell3 class="wheel">
        <img
          [attr.data-position]="4"
          src="./assets/images/cherry.png"
          alt="3 BAR image"
        />
        <img
          [attr.data-position]="3"
          src="./assets/images/bonus.png"
          alt="Bonus image"
        />
        <img
          [attr.data-position]="2"
          src="./assets/images/k.png"
          alt="K image"
        />
        <img
          [attr.data-position]="1"
          src="./assets/images/strawberry.png"
          alt="Strawberry image"
        />
        <img
          [attr.data-position]="5"
          src="./assets/images/bell-peppers.png"
          alt="Bell image"
        />

        <img
          class="wheel-light"
          src="/assets/images/wheel-light.png"
          alt="wheel light"
        />
      </div>
    </div>

    <div
      [ngClass]="{
        active: line1Score !== 0 && line1Score === getMaxScore(),
      }"
      class="wheel-line top"
    ></div>
    <div
      [ngClass]="{
        active: line2Score !== 0 && line2Score === getMaxScore(),
      }"
      class="wheel-line center"
    ></div>
    <div
      [ngClass]="{
        active: line3Score !== 0 && line3Score === getMaxScore(),
      }"
      class="wheel-line bottom"
    ></div>
  </div>

  <app-faq-button id="faq-button"></app-faq-button>
  <app-bet-button (onclick)="onBet()" id="bet-button">bet</app-bet-button>

  <app-spin-button
    (onclick)="!isSpinning && knobPulled()"
    id="spin-button"
  ></app-spin-button>

  <app-clear-button (onclick)="clearBet()" id="clear-button"></app-clear-button>
  <app-max-bet-button
    (onclick)="maxBet()"
    id="max-bet-button"
  ></app-max-bet-button>

  <app-chip
    [selectedValue]="selectedChipValue"
    (onclick)="selectChip(10)"
    id="chip-10"
    [value]="10"
  ></app-chip>
  <app-chip
    [selectedValue]="selectedChipValue"
    (onclick)="selectChip(20)"
    id="chip-20"
    [value]="20"
  ></app-chip>
  <app-chip
    [selectedValue]="selectedChipValue"
    (onclick)="selectChip(50)"
    id="chip-50"
    [value]="50"
  ></app-chip>
  <app-chip
    [selectedValue]="selectedChipValue"
    (onclick)="selectChip(100)"
    id="chip-100"
    [value]="100"
  ></app-chip>
  <app-chip
    [selectedValue]="selectedChipValue"
    (onclick)="selectChip(250)"
    id="chip-250"
    [value]="250"
  ></app-chip>
  <app-chip
    [selectedValue]="selectedChipValue"
    (onclick)="selectChip(500)"
    id="chip-500"
    [value]="500"
  ></app-chip>

  <app-game-history [history]="history" id="game-history"></app-game-history>

  <app-money-display
    [value]="totalBet"
    id="total-bet-number"
  ></app-money-display>
  <app-money-display
    [value]="totalWin"
    id="total-win-number"
  ></app-money-display>
  <app-money-display
    [value]="getCurrentUserBalance()"
    id="balance-number"
  ></app-money-display>
  <app-money-display
    [value]="currentWin"
    id="current-win-number"
  ></app-money-display>
</div>
