/* You can add global styles to this file, and also import other style files */

body {
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  background: white;
  margin: 0;
  padding: 0;
}
